.airport-select {
  margin-right: 40px;
}

.datepicker {
  display: flex;
}

.datepicker > :nth-child(2) {
  margin-left: 40px;
}

.search-field {
  padding-left: 40px;
  display: flex;
  align-items: flex-end;
  padding-bottom: 20px;
}
